body
{
    padding: 0;margin: 0;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width:576px) {

    header
    {
        flex-direction: column;
    }
    .section-two
{
margin-top: 10px;
}
    
}